<p>login works!</p>

<!-- 

<form [formGroup] ="loginForm" (ngSubmit)="logInUser()">
    <input type="text" placeholder="Enter username" formControlName = "username" required >
    <br>
    <span *ngIf="User && User.invalid && User.touched">Input field is not valid</span>
    <br>
    <input type="password" placeholder="Enter password" formControlName = "password" required>
    <br>
    <span *ngIf="password && password.invalid && password.touched">Password field is not valid</span>
    <br>
    <button [disabled] = "loginForm.invalid">Login</button>
</form> -->


